body {
    margin: 0%;
    zoom: 125%;
    scroll-behavior: smooth;
    /* padding-bottom: 200em; */
}

:root{
    --main-color: #E5989B;
    --emphasis-color: #FFCDB2;
    --dark-color: #7e414d;
    --black-color: #222;
}

/* ---------------------------------------------------------------------------------------*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-track-piece{
    background: #fff;
}

::-webkit-scrollbar-button{
    background: var(--main-color);
    
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--dark-color);
}

/* ---------------------------------------------------------------------------------------*/

#go_top{
    display:block;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;
    margin: 0;

    color: black;
    text-align: center;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--main-color);
    border-radius: 100%;


    text-decoration: none;
    border: none;
    outline: none;

    transition: 0.3s;
    visibility: visible;
}

#go_top:hover{
    background-color: var(--black-color);
    color: white;
    border-radius: 0;
}

html {
    scroll-behavior: smooth;
  }

/* ---------------------------------------------------------------------------------------*/


div.superior {
    background-image: url("../images/background/ghosts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 5%;
    position: relative;
    background-attachment: fixed;
}


/* ---------------------------------------------------------------------------------------*/

div.header {
    background-color:var(--main-color);

    width: 100%;
    text-align: center;
    top: 0px;
    position: sticky;
    z-index: 10;
}

div.header b {
    height: 100%;
    background-color: var(--black-color);

    padding-left: 20px;
    padding-right: 20px;
    color: var(--emphasis-color);
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
}

div.header a {
    height: 100%;
    padding-top: 0cm;
    padding-bottom: 0cm;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
}

div.header a:visited {
    padding-top: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

div.header a:hover {
    height: 100%;
    background-color: var(--dark-color);
    color: var(--emphasis-color);
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

div.header b:hover{
    padding-left: 30px;
    padding-right: 30px;
}


/* ---------------------------------------------------------------------------------------*/

div.body h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 10vw;
    font-weight: lighter;
    font-family: 'Source Code Pro', monospace;
}


div.body h2 {
    margin-top: 0cm;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
    
}

div.body h3 {
    margin-top: 0cm;
    text-align: left;
    font-size: 1.35em;
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 0%;
}

div.body h4 {
    margin-top: 0cm;
    text-align: center;
    font-size: 1.17em;
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
    
}

div.body {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}

div.body p {
    text-align: justify;
    text-align-last: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 0cm;
    margin-top: 0cm;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: underline;
    text-decoration-color: black;
}

a:visited {
    color: black;
}
 a:link {
    color: black;
}



div.body video{
    display: block;
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ---------------------------------------------------------------------------------------*/

div.footer {
    background-color: var(--main-color);

    width: 100%;
    text-align: center;
    top: 20px;
    top: 0%;
    position: relative;
}

div.footer a {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

div.footer a:visited {
    padding-top: 100%;
    color: black;
    text-decoration: none;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

div.footer a:hover {
    height: 100%;
    background-color: var(--dark-color);
    color: var(--emphasis-color);
    text-decoration: none;
}
    

/* ---------------------------------------------------------------------------------------*/

div.parallax {
    height: fit-content;
    background-attachment: fixed;
    background-image: url("../images/background/background2.png");
    background-size: cover;
    background-position: left;
    margin-top: 0%;
    padding-top: 0%;
}

div.parallax h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: lighter;
    display: block;
    font-family: 'Source Code Pro', monospace;
}

div.parallax h2 {
    text-align: center;
    font-size: 50px;
    position: relative;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: lighter;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;

    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

div.parallax p {
    text-align: center;
    font-size: 30px;
    position: relative;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Source Code Pro', monospace;
    margin: 20%;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------------------------*/

div.list_container{
    min-height: 600px;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    /*background: #ddd;*/
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
}

.list_container a{
    text-decoration: none;
}

.list_container ul{
    display: inline-block;
    margin: 10px;
    margin-bottom: 5px;
    width: 95%;
    padding: 0;
}

.list_container li{
    /* background: rgba(100, 100, 100, .5); */
    background: #96969633;
    background-attachment: fixed;
    background-size: cover;
    display: table;
    list-style-type: none;
    margin: auto;
    margin-bottom: 5px;
    text-decoration: none;
    width: 90%;
    color: black;
    max-height: 100px;
    height: 100px;
    transition: 0.3s;
    padding: 0%;
    position: relative;

    font-family: 'Quicksand', sans-serif;

}

.list_container li:hover{
    width: 100%;
    max-height: 120px;
    height: 120px;
    background-image: url("../images/background/background2.png");
    /* background-color: #222; */
    color: white;
}

.list_container li:hover h1{
    color:white;
    transition: 0.2s;
}

.list_container li img{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
}

.list_container li h1{
    color: black;
    text-align: left;
    position: relative;
    font-size: 20px;
    left: 25%;
    margin-left: 20px;
}

.list_container li p{
    width: 50%;
    text-align: left;
    position: relative;
    left: 25%;
    margin-left: 20px;
    font-size: 15px;

    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
}


.list_container li:hover p, .list_container li:hover h1{
    margin-left: 10px;
}

.list_container h1{
    text-align: left;
    position: relative;
    left: 5%;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0%;
}
/* ---------------------------------------------------------------------------------------*/

.download, .repository, .processing{
    display: inline-block;
    width: auto;
    height: auto;
    color: white;
    padding : 10px;
    transition: 0.3s;
    text-decoration: none;
}


.download{
    background: #2196F3;
}

.download texto, .repository texto, .processing texto{
    color: white;
}

.processing{
    background: var(--main-color);
}
.repository{
    background: #04AA6D;
}

.download:hover, .repository:hover, .processing:hover{
    background: gray;
    color:black;
}

/* ---------------------------------------------------------------------------------------*/

div.canvasbg {
    height: fit-content;
    background-color: var(--black-color);
    background-size: cover;
    background-position: left;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

div.canvasbg h1 {
    text-align: center;
    position: absolute;
    margin-top: 90px;
    width: 100%;
    font-size: 100px;
    color: white;
    text-shadow: 3px 3px rgb(100, 100, 100);
    font-weight: lighter;
    font-family: 'Source Code Pro', monospace;

}

/* ---------------------------------------------------------------------------------------*/

div.grupo{
    display:block;
    visibility:visible;
    transition: visibility 0s, opacity 0.5s linear;
}


/* ---------------------------------------------------------------------------------------*/


.busqueda{
    text-align: center; 
    width: 100%;

    height: 30px;
    margin-top: 50px;
    font-size: larger;
}

.busqueda :focus{
    background-color: brown;
}


/* ---------------------------------------------------------------------------------------*/


table.contact {
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    margin-top: 30px;
    table-layout: fixed;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
}


th {
    font-weight: bolder;
    width: 300px;
    color: white;
}


td{
    font-weight: bolder;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: underline;
}

td a {
    color: white;
    text-decoration-color: white;
}


td a:visited {
    color: white;
}
td a:link {
    color: white;
}



/* ---------------------------------------------------------------------------------------*/


div.contacto{

    background-color: #222;
    padding-top: 30px;
    color: white;

}


/* ----------------------------------------------------------------------------------------*/

img.screenshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
}